back/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
back/.apt_generated
back/.classpath
back/.factorypath
back/.project
back/.settings
back/.springBeans
back/.sts4-cache

### Eclipse ###

back/.metadata
back/bin/
back/tmp/
back/*.tmp
back/*.bak
back/*.swp
back/*~.nib
back/local.properties
back/.settings/
back/.loadpath
back/.recommenders

# External tool builders
back/.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
back/*.launch

# PyDev specific (Python IDE for Eclipse)
back/*.pydevproject

# CDT-specific (C/C++ Development Tooling)
back/.cproject

# CDT- autotools
back/.autotools

# Java annotation processor (APT)
back/.factorypath

# PDT-specific (PHP Development Tools)
back/.buildpath

# sbteclipse plugin
back/.target

# Tern plugin
back/.tern-project

# TeXlipse plugin
back/.texlipse

# STS (Spring Tool Suite)
back/.springBeans

# Code Recommenders
back/.recommenders/

# Annotation Processing
back/.apt_generated/

# Scala IDE specific (Scala & Java development for Eclipse)
back/.cache-main
back/.scala_dependencies
back/.worksheet

### Eclipse Patch ###
# Eclipse Core
back/.project

# JDT-specific (Eclipse Java Development Tools)
back/.classpath

# Annotation Processing
back/.apt_generated

back/.sts4-cache/

### Git ###
# Created by git for backups. To disable backups in Git:
# $ git config --global mergetool.keepBackup false
back/*.orig

# Created by git when using merge tools for conflicts
back/*.BACKUP.*
back/*.BASE.*
back/*.LOCAL.*
back/*.REMOTE.*
back/*_BACKUP_*.txt
back/*_BASE_*.txt
back/*_LOCAL_*.txt
back/*_REMOTE_*.txt

### Java ###
# Compiled class file
back/*.class

# Log file
back/*.log

# BlueJ files
back/*.ctxt

# Mobile Tools for Java (J2ME)
back/.mtj.tmp/

# Package Files #
back/*.jar
back/*.war
back/*.nar
back/*.ear
back/*.zip
back/*.tar.gz
back/*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
back/hs_err_pid*

### Maven ###
back/target/
back/pom.xml.tag
back/pom.xml.releaseBackup
back/pom.xml.versionsBackup
back/pom.xml.next
back/release.properties
back/dependency-reduced-pom.xml
back/buildNumber.properties
back/.mvn/timing.properties
back/.mvn/wrapper/maven-wrapper.jar

### Windows ###
# Windows thumbnail cache files
back/Thumbs.db
back/ehthumbs.db
back/ehthumbs_vista.db

# Dump file
back/*.stackdump

# Folder config file
back/[Dd]esktop.ini

# Recycle Bin used on file shares
back/$RECYCLE.BIN/

# Windows Installer files
back/*.cab
back/*.msi
back/*.msix
back/*.msm
back/*.msp

# Windows shortcuts
back/*.lnk

### IntelliJ IDEA ###
back/.idea
back/*.iws
back/*.iml
back/*.ipr

### NetBeans ###
back/nbproject/private/
back/nbbuild/
back/dist/
back/nbdist/
back/.nb-gradle/
back/build/
back/!**/src/main/**/build/
back/!**/src/test/**/build/

### VS Code ###
back/.vscode/

### Some additional ignores (sort later)
back/*.DS_Store
back/*.sw?
back/.#*
back/*#
back/*~
back/.classpath
back/.project
back/.settings
back/bin
back/build
back/target
back/dependency-reduced-pom.xml
back/*.sublime-*
back//scratch
back/.gradle
back/README.html
back/*.iml
back/.idea
back/.exercism